// 関数の登録
//  font-size vwの計算
//--------------------------------------------
$baseWidth: 375;

@function spvw($pixelsVw) {
  @return $pixelsVw / $baseWidth * 100vw;
}

$baseWidth-wsp: 540;

@function wspvw($pixelsVw-wsp) {
  @return $pixelsVw-wsp / $baseWidth-wsp * 100vw;
}
$baseWidth-tab: 768;

@function tabvw($pixelsVw-tab) {
  @return $pixelsVw-tab / $baseWidth-tab * 100vw;
}

$baseWidth-lap: 1024;

@function lapvw($pixelsVw-lap) {
  @return $pixelsVw-lap / $baseWidth-lap * 100vw;
}

$baseWidth-pc: 1568;

@function pcvw($pixelsVw-pc) {
  @return $pixelsVw-pc / $baseWidth-pc * 100vw;
}

$baseWidth-wide-pc: 2000;

@function widepcvw($pixelsVw-pc) {
  @return $pixelsVw-pc / $baseWidth-wide-pc * 100vw;
}



//  font-size rem の計算
//--------------------------------------------
@function rem($pixels, $basefontsize: 16) {
  @return $pixels / $basefontsize * 1rem;
}