@charset 'UTF-8';

// -----------------------------------
//  Layout Settings
//------------------------------------

// Contentの幅
$content-width: 1600px !default;

// ブレークポイント
$breakpoints: (
  'sp': 375px,
  'wsp': 520px,
  'tab': 768px,
  'lap': 960px,
  'desk': 1280px,
  'vr': 1366px,
  'wide': 1440px,
  'full': 1568px,
) !default;

//====================================
//  Color Setings
//====================================

// テーマのカラー
$base-color: #FFF;

$theme-color-black: #000;

$theme-color-gray: #999999;
$theme-color-yellow: #E8E8D8;
$theme-color-lightyellow: #F8F8F0;
$theme-color-darkyellow: #B5B583;
$theme-color-gold: #93936A;


$theme-color-darkgreen:  #192203;

$main-text-color: #000;


$border-color-yellow: #E8E8D6;


//====================================
//  Typeface
//====================================

$font-set-primary: TsukuMinPr6N-L;
$font-set-en: 'Poppins', sans-serif;