@charset 'UTF-8';
@use "../../inc/" as inc;
/*
title
-----------------------------------------------------*/
.c-title-ex-large {
  @include inc.sizingRem(font-size, full, 40px, sp, 24px);
  margin-bottom: 1em;
}
.c-title-large {
  @include inc.sizingRem(font-size, full, 32px, sp, 20px);
  margin-bottom: 1em;
  
  &.-vertical {
   @include inc.mq(tab) {
      white-space: nowrap;
      writing-mode: vertical-rl;
      font-feature-settings: initial;
    }
  }
}
.c-title-medium {
  @include inc.sizingRem(font-size, full, 24px, sp, 17px);
  margin-bottom: 1em;
}
.c-title-small {
  margin-bottom: 1em;
}

.c-title-icon {
  padding-left: 1.5em;
  .icon {
    width: 1em;
    height: 1em;
    margin-left: -1.5em;
    margin-right: .5em;
    vertical-align: middle;
    direction: inline-block;
    object-fit: contain;
  }
}

.c-title-gothic {
  font-family: inc.$font-set-en;
  font-weight: 400;
  @include inc.sizingRem(font-size, full, 16px, sp, 14px);
  @include inc.sizing(margin-bottom, full, 16px, sp, 8px);
  display: block;
}