

@charset 'UTF-8';
@use "../../inc/" as inc;
/*
post
-----------------------------------------------------*/
.p-entry {
  p + p {
    margin-top: 1.5rem;
  }
  p + ul {
    margin-top: 1.5rem;
  }
  ul + p {
    margin-top: 1.5rem;
  }
  p + dl {
    margin-top: 1.5rem;
  }
  dl + p {
    margin-top: 1.5rem;
  }
  ul + dl {
    margin-top: 1.5rem;
  }
  dl + ul {
    margin-top: 1.5rem;
  }
  .and-border + .and-border {
    border-top: 1px solid inc.$theme-color-darkyellow;
    margin-top: 3rem;
    padding-top: 3rem;
  }
}