@charset 'UTF-8';
@use "../../inc/" as inc;
/*
opening
-----------------------------------------------------*/
.p-opening {
  &--table {
    position: relative;
    table-layout: fixed;
    width: 100%;
    th,td {
      border-left: 1px solid #E2E2B9;
      border-bottom: 1px solid #E2E2B9;
      padding: 1rem;
      line-height: 1.6;
    }
    th a {
      position: relative;
      z-index: 1;
    }
    th span {
      display: block;
      font-size: 12px;
      color: inc.$theme-color-gold;
    }
    td span {
      display: block;
      font-size: 14px;
    }
  }
  &--fixed01 {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    background: inc.$theme-color-gold;
    border-bottom: none!important;
    border-left:none!important;
    min-width: 20vw;
    font-size: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: -1px;
      width: 100%;
      height: 100%;
    }
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      right: -1px;
      width: 100%;
      height: 100%;
      border-right: 1px solid #E2E2B9;
    }
  }
  &--fixed02 {
    position: sticky;
    left: 0;
    width: 10vw;
    min-width: 10vw;
    border-left:none!important;
    &:before{
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
    }
  }
  &--fixed03 {
    position: sticky;
    left: 10vw;
    color: #fff;
    background: #333;
    &:before{
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      border-left: 1px solid #ccc;
    }
  }
  &--fixed04{
    position: sticky;
    top: 0;
    left: 0;
    //color: #fff;
    background: inc.$theme-color-yellow;
    border-bottom: none!important;
    //text-align: center;
    font-size: 24px;
  }
  &--scroll {
    overflow: scroll;
    //height: 80vh;
  }
}
@media print{
  header,
  footer,
  .c-breadcrumb,
  .c-button-areamap {
      display: none;
  }
  .l-main {
      padding: 0;
  }
  .l-spacer.-medium {
      margin: 0;
      padding: 0;
  }
  .l-spacer.-medium.-both {
      padding: 0;
  }
  .p-opening--table {
      margin-top:32px;
  }
  .p-opening--scroll {
      overflow: initial;
      height: auto;
  }
  .p-opening--fixed01 {
    position: static;
    color: #000;
    background: none;
    min-width: none;
    &:before{
      display: none;
    }
    &:after{
        display: none;
    }
  }
  .p-opening--fixed02 {
    position: static;
    color: #000;
    background: none;
    min-width: none;
    &:before{
      display: none;
    }
  }
  .p-opening--fixed03 {
    position: static;
    color: #000;
    background: none;
    &:before{
      display: none;
    }
  }
  .p-opening--fixed04 {
    position: static;
    color: #000;
    background: none;
  }
  .c-list-category__item {
    background: none;
    color: #000;
  }
  .c-list-category__item.-act {
    background: none;
    color: #000 !important;
    border: 1px solid #000;
  }
}

