@charset 'UTF-8';
@use '../global' as *;
/*
footer
-----------------------------------------------------*/
.l-footer {
  &__outline {
    display: flex;
    flex-direction: column;
    @include mq(lap) {
      flex-direction: row-reverse;
    }
  }
  
  &__bottom {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    @include mq(tab) {
      width: 94%;
    }
    @include mq(lap) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  &__copyright{
    font-size: rem(11);
    text-align: center;
    margin-left: auto;
    margin-top: 2em;
    @include mq(tab) {
      text-align: right;
    }
    @include mq(lap) {
      margin-top: 0;
    }
  }
}

.l-footer-information {
  border-top: 1px solid $border-color-yellow;
  @include mq(lap) {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}

.l-footer-buttonlink {
  text-align: center;
  padding: size(full, 60px, sp, 40px) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__title {
    width: size(full, 270px, sp, 170px);
    margin: 0 auto;
    img {
      width: 100%
    }
  }
  &__button {
    width: 270px;
    margin-top: auto;
  }
}



.l-footer-concept {
  background: url(../img/common/bg-foot-concept.jpg) no-repeat center center / cover; 
  color: #FFF;
  @include mq(lap) {
    background-image: url(../img/common/bg-foot-concept-pc.jpg); 
    width: 67%;
  }
  
  &__text {
    width: 270px;
    margin: 2em auto;
    text-align: left;
  }
}
.l-footer-map {
  background: url(../img/common/bg-foot-map.jpg) no-repeat center center / cover; 
  padding-top: size(full, 100px, sp, 40px);
  @include mq(lap) {
    width: 33%;
  }
  &__text {
    width: 270px;
    margin: 1em auto;
    text-align: center;
    font-size: sizeRem(full, 18px, sp, 11px);
  }
}

.l-footer-important-news {
  padding: size(full, 72px, sp, 32px) 0;
  
  &__inner {
    @include mq(lap) {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: start;
    }
  }
  
  &__title {
    font-size: sizeRem(full, 24px, sp, 17px);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    
    &::before {
      content: '';
      width: 1em;
      height: 1em;
      display: inline-block;
      background: url(../img/common/icon-info.svg) no-repeat center center / contain;
      margin-right: .5em;
    }
  }
  
  &__news {
    width: calc(100% - calc(sizeRem(full, 24px, sp, 17px) * 3));
    margin: 0 auto;
  }
  
  &__more {
    margin-top: 2em;
    @include mq(tab) {
      margin-top: 0;
    }
  }
}

.l-footer-pickup {
  text-align: center;
  border-top: 1px solid $theme-color-yellow;
  padding: 2em;
  
  @include mq(lap) {
    border-top: none;
    border-left: 1px solid $theme-color-yellow;
    display: flex;
    align-items: center;
    
  }
  
  &__title {
    font-size: rem(12);
    background: $theme-color-yellow;
    border-radius: 2em;
    font-family: $font-set-en;
    font-weight: 300;
    width: fit-content;
    margin: 0 auto 1em;
    padding: 0 2em;
    @include mq(lap) {
      margin: 0 2em 0 0;
    }
  }
  &__conts {
    text-decoration: underline;
  }
}

