@charset 'UTF-8';
@use '../../global' as *;
/*
block
-----------------------------------------------------*/
.c-block-conts-center {
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__inner {
    width: 100%;
    
    @include mq(lap) {
      width: 66%;
    }
  }
}