@charset 'UTF-8';
@use '../../global' as *;
/*
gmenu
-----------------------------------------------------*/
.c-gmenu-primary {
  &__item {
    border-top: 1px solid $theme-color-yellow;
    @include mq(tab) {
      border: none;
    }
  }
  
  &__link {
    padding: 1em 5%;
    position: relative;
    display: block;
    background: #F8F8F0;
    background-clip: content-box;
    border: 1px solid #FFF;
    
    @include mq(lap) {
      border: none;
      padding: 0;
    }
    
    &::after {
      content: '';
      width: .4em; height: .4em;
      display: block;
      border-top: 1px solid;
      border-right: 1px solid;
      position: absolute;
      top: 0; bottom: 0;
      right: 5%;
      margin: auto;
      transform: rotate(45deg);
      
      @include mq(tab) {
        display: none;
      } 
    }
  }
}
.c-gmenu-secondary {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  gap: size(full, 10px, sp, 5px);
  align-items: center;
  
  @include mq(tab) {
    display: flex;
    gap: 0;
  }
  
  
  &__textbtn {
    text-align: center;
    @include mq(tab) {
      margin-right: auto;
    }
  }
  &__blockbtn {
    justify-content: center;
    @include mq(tab) {
      max-width: 10em;
      margin-left: size(full, 10px, sp, 5px);
    }
  }
  
  &__hamburger {
    @include mq(tab) {
      margin: 0 0 0 size(full, 10px, sp, 5px);
    }
  }
}


.c-gmenu-tertiary {
  display: flex;
  align-items: center;
  
  &__item {
    & + & {
      margin-left: 1em;
      @include mq(lap) {
        margin-left: 2em;
      }
    }
  }
  
}

.c-gmenu-lang {
  display: flex;
}