@charset 'UTF-8';
@use '../../global' as *;
/*
today
-----------------------------------------------------*/
.c-today {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  align-items: center;
  
  &.-head-drawer {
    @include mq(tab) {
      flex-direction: column;
    }
  }
  
  &__date {
    text-transform: lowercase;
    letter-spacing: .1em;
  }
  
  &__temp {
    margin-left: 2em;
    &.-head-drawer {
      @include mq(tab) {
        margin-left: 0;
      }
    }
  }
}